<div class="container">
  <h2 class="navbar">レビュー一覧</h2>
  
  <%= render "layouts/tag", tags: @tags %>  <!--タグ一覧表示-->
  <div class="row">
    <%= render "index", items: @items %>
  </div>
  <%= paginate @items %>
</div>
