<div class="mx-auto text-center">
    <h1>ようこそ　デバイス見聞録へ</h1>
    <h3>気になるスマホやタブレット、いろんな電子機器をレビューしよう</h3>
    <div>
        <%= link_to '製品一覧へ', items_path, class: "btn btn-outline-secondary btn-block" %>
    </div>
</div>
