<div class="mb-2">タグ:
  <% tags.each do |tag| %>
    <span>
      <%= link_to tag.tag_name, items_path(tag_id: tag.id), class: "btn btn-sm btn-light" %>
    </span>
  <% end %>
  <!--タグ指定なし-->
  <span>
    <%= link_to "指定なし", items_path, class: "btn btn-sm btn-light" %>
  </span>
</div>
